@{
    ViewData["Title"] = "Home Page";

}

@model BrewMasterWeb.Authentication.RockPerson;
<div class="text-center">
@if (Model == null)
{
    <h2>Howdy Stranger!</h2>
    <p>Please <a href="/auth/login">LOGIN</a> to continue.</p>
}
else
{
   <h2>Welcome @Model.NickName</h2>
   <p>Thanks for being logged in!</p>
   <p>Your Roles:
        <ul>
            @foreach (var role in ViewBag.Roles)
                {
                    <li>@role</li>
                }
        </ul>
    </p>
    <p>If you want to <a href="/auth/logout">LOGOUT</a> I wouldn't blame you.</p>
}
    </div>
